@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: lightgray;
}
.logo{
    width: 200px;
    height: 100px;
}
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  margin-right: 20px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  color: #424242;
}

.nav-title {
  color:  #131313;
  font-weight: 700;
  font-size: 2rem;
 
}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 50px auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 10px;
}

.banner-description {
    color: #727272;
}

.banner img{
    width: 100%;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 10px 30px;
    margin: 20px 0;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.team-contianer{
    display: flex;
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-content{
    padding: 0 70px;
}

.team-title{
    font-size: 2.8rem;
}

.quick-list{
    color: #727272;
    font-weight: 500;
}

.text-features{
    color: #FF900E;
    font-weight: 700;
}


















/* responsiveness */

@media screen and (max-width: 576px) {
    .nav-title{
        font-size: 1.2rem;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        margin: 20px auto;
    }
    nav > ul > li{
        margin-top: 20px;

    }
    header{
        padding: 20px;
    }

    .banner-title{
        font-size: 1rem;
    }
}

@media screen and (min-width:576px) and (max-width: 960px){
    .nav-title{
        font-size: 3rem;
    }
    nav{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        margin: 20px auto;
    }
    nav > ul > li{
        margin-top: 20px;

    }
    header{
        padding: 20px;
    }

    .banner-title{
        font-size: 2rem;
    }
}